<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Acheter ou louer</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="css/index.css">
		<script src="js/app.js"></script>
		<script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
	</head>
	<body ng-app="arbitrage">
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
		    	<div class="navbar-header">
			      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      	</button>
			      	<a class="navbar-brand" href="#">Acheter ou louer</a>	
		    	</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" ng-controller="EstimCtrl">
					<div class="row">
						<div class="col-sm-5 col-xs-12">
							<form role="form" class="form-horizontal">
								<h2 class="page-header">Données financières d'achat</h2>
								<p>Le prix de l'appartement que vous convoitez et votre structure de financement sont des critères primoridiaux
								dans l'arbitrage achat/location. Indiquez ici le prix d'achat de votre appartement frais d'agence inclus mais hors frais de notaire.
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="bottom" 
								    tooltip="Frais d'agence inclus, hors droit de mutation et frais de notaire"></i> Prix d'achat (FAI)</label>
								    <div class="col-sm-4 input-group">
										<input class="form-control" type="number" ng-model="prix" ng-change="getNpv()">
										<span class="input-group-addon">€</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="bottom" 
								    tooltip="Possibilité de remboursement anticipé du prêt sans pénalités"></i> Durée de détention</label>
									<div class="col-sm-4 input-group">
										<input  class="form-control" type="number" ng-model="duree_detention" ng-change="getNpv()">
										<span class="input-group-addon">ans</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label">Apport</label>								
									<div class="col-sm-4 input-group">
										<input class="form-control" type="number" ng-model="apport" ng-change="getNpv()">
										<span class="input-group-addon">%</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label">Durée prêt</label>
									<div class="col-sm-4 input-group">
										<input class="form-control"  type="number" ng-model="duree_pret" ng-change="getNpv()">
										<span class="input-group-addon">ans</span>											
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="top" 
								    tooltip="Pour un prêt à taux fixe à mensualités constantes"></i> Taux du prêt</label>									
									<div class="col-sm-4 input-group">
										<input class="form-control" type="number" ng-model="taux_pret" ng-change="getNpv()">
										<span class="input-group-addon">%</span>
									</div>
								</div>
							</form>
							<form role="form" class="form-horizontal">
								<h2 class="page-header">Données macro-économiques</h2>
								<p>L'arbitrage est très sensible à ces valeurs de taux. Pour vous aider nous avons défini 3 scénarios en fonction 
								de données historiques que vous pouvez retrouver sur le <a href="http://www.cgedd.developpement-durable.gouv.fr/prix-immobilier-evolution-1200-a1048.html" target="_blank">site du CGEDD</a>
								<div class="btn-group" style="margin-bottom:20px" data-toggle="buttons">
							 		<label class="btn btn-primary" ng-click="getScenario(1)" tooltip-placement="right" 
								    tooltip="Tendance 2012-2014, les prix baissent, les taux d'inflation et de placement sont très bas, les loyers progressent peu">
							  			<input type="radio" name="options" checked>Scénario 1
						  			</label>
								  	<label class="btn btn-primary active" ng-click="getScenario(2)" tooltip-placement="top" 
								    tooltip="Scénario 1 avec stabilisation des prix après une baisse passagère entre 2012 et 2014">
								    	<input type="radio" name="options">Scénario 2
							    	</label>
								  	<label class="btn btn-primary" ng-click="getScenario(3)" tooltip-placement="left" 
								  	tooltip="Tendance 2000-2010, les prix augmentent fortement et beaucoup plus vite que les loyers 
								  	ou l'inflation">
								  		<input type="radio" name="options">Scénario 3
							  		</label>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label">Taux d'inflation</label>
								    <div class="col-sm-4 input-group">
										<input class="form-control" type="number" ng-model="taux_inflation" ng-change="getNpv()">
										<span class="input-group-addon">%</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label">Croissance annuelle des prix immobiliers</label>
									<div class="col-sm-4 input-group">
										<input  class="form-control" type="number" ng-model="croissance_prix" ng-change="getNpv()">
										<span class="input-group-addon">%</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="right" 
								    tooltip="Rendement d'un placement financier sans risque"></i> Taux de rendement épargne</label>								
									<div class="col-sm-4 input-group">
										<input class="form-control"  type="number" ng-model="taux_rendement" ng-change="getNpv()">
										<span class="input-group-addon">%</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="right" 
								    tooltip="Croissance en cas de relocation non prise en compte"></i> Croissance moyenne annuelle des loyers</label>
									<div class="col-sm-4 input-group">
										<input class="form-control" type="number" ng-model="croissance_loyer" ng-change="getNpv()">
										<span class="input-group-addon">%</span>											
									</div>
								</div>
							</form>
							<form role="form" class="form-horizontal">
								<h2 class="page-header">Charges et frais</h2>
								<p>Acheter entraîne des coûs fixes importants, il est donc nécessaire de détenir le bien sur une durée suffisante pour amortir
								 ces dépenses par rapport au scénario de location.</p>
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="top" 
								    tooltip="Frais de notaire et droits de mutation payés sur le prix net vendeur"></i> Frais de notaire</label>
								    <div class="col-sm-4 input-group">
										<input class="form-control" type="number" ng-model="frais_notaire" ng-change="getNpv()">
										<span class="input-group-addon">%</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="top" 
								    tooltip="Frais d'agence inclus dans le prix ci-dessus, mettre 0 si vous achetez en PAP"></i> Frais d'agence</label>
									<div class="col-sm-4 input-group">
										<input  class="form-control" type="number" ng-model="frais_agence" ng-change="getNpv()">
										<span class="input-group-addon">%</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="top" 
								    tooltip="Taxe foncière à la seule charge du propriétaire, la taxe d'habitation étant payée par
								     locataire et propriétaire nous ne la prenons pas en compte"></i> Taxe foncière</label>								
									<div class="col-sm-4 input-group">
										<input class="form-control" type="number" ng-model="charge_fonciere" ng-change="getNpv()">
										<span class="input-group-addon">%</span>
									</div>
								</div>
								<div class="form-group">
								    <label class="col-sm-6 control-label"><i class="fa fa-info-circle" tooltip-placement="top" 
								    tooltip="Charge de coproproiété et travaux privatifs incombant au propriétaire"></i> Travaux et maintenance</label>
									<div class="col-sm-4 input-group">
										<input class="form-control" type="number" ng-model="charge_copro" ng-change="getNpv()">
										<span class="input-group-addon">%</span>											
									</div>
								</div>
							</form>
							<h2 class="page-header">Principales hypothèses</h2>
							Le crédit est à taux fixe, non négociable, sans pénalités en cas de remboursement anticipé.<br/><br/>
							Les optimisations fiscales éventuelles d'un achat ou d'un investissement locatif ne sont pas prises en compte.<br/><br/>
							En location, nous avons supposé que les loyers progressaient comme l'indice des loyers courants, sans retenir 
							l'effet d'un éventuel encadrement des loyers d'une part, ou l'augmentation de loyer en cas de changement d'appartement d'autre part.
							Nous avons également négligé la perte due à l'immobilisation sans intérêt du dépôt de garantie.<br/><br/>
							L'estimateur compare les valeurs nettes actualisées de l'achat ou de la location d'un bien immobilier, sans valoriser le risque
							inhérent à l'achat : en effet pour un coût total moyen équivalent, les variations potentielles à la baisse ou à la hausse sont beaucoup
							plus forts en cas d'achat. En d'autres termes au loyer équivalent vous ne prenez aucun risque, alors qu'acheter implique une opportunité 
							de plus-value mais également un risque important de perte.<br/><br/>
							Enfin nous n'avons pas valorisé le caractère "disciplinant" d'un emprunt qui vous force à épargner. Les partisans de la location répondront 
							que cette liberté d'épargner permet également de saisir plus facilement des opportunités d'investissement ou de carrières, comme une création d'entreprise par exemple. 

						</div>
						<div class="col-sm-7 col-xs-12" id="panneau_fixe">
							<h2>Flux totaux pendant la période de détention ({{duree_detention}} ans)</h2>
							<div class="row">
								<div class="col-sm-6">
									<table class="table" id="table_achat">
										<thead>
											<tr>
												<th></th>
												<th>Achat</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><i class="fa fa-info-circle" tooltip-placement="top" 
												tooltip="Part des mensualités rémunérant la banque pour vous avoir prêté de l'argent"></i> Intérêts d'emprunt</td>
												<td ng-class="{'red': npv_interet < 0}">{{npv_interet | customCurrency}}</td>
											</tr>
											<tr>
												<td><i class="fa fa-info-circle" tooltip-placement="top" 
												tooltip="Calculée en sommant le prix de revente du bien et en retrachant le capital restant dû à la banque, 
												la part des mensualités remboursant le capital emprunté, l'apport initial à l'achat"></i> Plus-value</td>
												<td ng-class="{'red': npv_prix < 0}">{{npv_prix | customCurrency}}</td>
											</tr>
											<tr>
												<td><i class="fa fa-info-circle" tooltip-placement="top" 
												tooltip="Frais d'agence, frais de notaire et droits de mutation"></i> Frais d'achat</td>
												<td ng-class="{'red': frais_achat < 0}">{{frais_achat | customCurrency}}</td>
											</tr>
											<tr>
												<td><i class="fa fa-info-circle" tooltip-placement="top" 
												tooltip="Taxe foncière et travaux"></i> Frais courants</td>
												<td ng-class="{'red': frais_courant < 0}">{{frais_courant | customCurrency}}</td>
											</tr>
											<tr class="active">
												<td>Total</td>
												<td ng-class="{'red': delta_achat < 0}">{{delta_achat | customCurrency}}</td>
											</tr>																									
										</tbody>
									</table>
								</div>
								<div class="col-sm-6">
									<table class="table">
										<thead>
											<tr>
												<th>Location</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td ng-class="{'red': npv_loyer < 0}">{{npv_loyer | customCurrency}}</td>
												<td>Loyer <i class="fa fa-info-circle" tooltip-placement="top" 
												tooltip="Loyers payés chaque mois pendant la durée de détention"></i></td>
											</tr>
											<tr>
												<td ng-class="{'red': npv_epargne < 0}">{{npv_epargne | customCurrency}}</td>
												<td>Epargne <i class="fa fa-info-circle" tooltip-placement="top" 
												tooltip="Apport initial non utilisé et placé en banque"></i></td>
											</tr>
											<tr>
												<td class="red">{{-loyer| customCurrency}}</td>
												<td>Frais de location <i class="fa fa-info-circle" tooltip-placement="top" 
												tooltip="Frais d'agence équivalent à un mois de loyer"></i></td>
											</tr>
											<tr>
												<td></td>
												<td>Frais courants <i class="fa fa-info-circle" tooltip-placement="top" 
												tooltip="Pas de frais courants en location qui ne seraient pas également imputable à un propriétaire occupant!"></i></td>
											</tr>
											<tr class="active">
												<td ng-class="{'red': delta_location < 0}">{{delta_location | customCurrency}}</td>
												<td>Total</td>
											</tr>																									
										</tbody>
									</table>
								</div>								
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-4" style="text-align:center">
									<form role="form" class="form">
										<div class="form-group">
										    <label control-label">Si vous pouvez louer le même appartement pour moins de ... </label>
											<h2 style="margin-top:0px"><span class="label label-info">{{loyer}} €/mois</span></h2>
											<label control-label">...alors louer est plus rentable</label>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>    
			    </div>
		    </div>
	    </div>
		
	</body>
</html>